doctype html
html
    head
        title Covid Evolution
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/vendor/stylesheets/tui-chart.min.css')
    body
        block content
    script(src='/vendor/js/vue.js')
    script(src='/vendor/js/tui-chart-all.min.js')
    script(src='/js/chart-themes.js')
    block js
